body{
    background: linear-gradient(to right ,rgb(231, 12, 81), rgb(61, 3, 154));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.press_start_2p{
    font-family:"press start 2p";
    color: white;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: consolas;
}

#confirm{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-family: consolas;
    margin: 0% 8%;
    padding: 2% 5%;
}

#confirm h2{
    font-family: Bebas Neue;
    font-size: 30px;
}

#btn span button{
    margin-top: 2%;
    margin-left: 43%;
    padding: 20px;
    font-size: 18px;
    background: transparent;
    border-radius: 30px;
    border-width: 2px;
    border-color: white;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}